<div class="bg-doodle">
  <div class="box"></div>
<div class="container">
  <div class="row">
    <div class="col">
        <div class="jumbotron bgcolor jumbotron-fluid text-center">
            <div class="container headerbg">
              <h1 class="display-4 shadowHere">Contacts Web App</h1>
              <p class="lead shadowLess mb-0">All of your contacts stored in one place!</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row mb-0">
    <div class="col">
        <div class="jumbotron bgcolor1 jumbotron-fluid">
            <div class="container containthisbox bgbgbg">
            </div>
          </div>
    </div>
  </div>
  <div class="row mt-0">
    <div class="col">
        <div class="jumbotron bgcolor jumbotron-fluid text-center">
            <div class="container buttonbg">
              <button class="btn btn-success p-3 btn-lg" routerLink='/userlogin'>Get Started</button>
            </div>
        </div>
    </div>
  </div>
  <div class="box"></div>
</div>
</div>
