@import '../app.component.scss';

h1 {
  font-family: $font-stack-primary;
}

p {
  font-family: $font-stack-secondary;
}

button {
  font-family: $font-stack-secondary;
}

.headerbg {
  background-color: white;
  opacity: .85;
  width: 55vh;
}

.buttonbg {
  background-color: white;
  opacity: .90;
  width: 15vh;
}

.bg-doodle {
  background-image: url('../../assets/bg-doodle2.png');
}

.bgcolor1 {
  background-color: white;
  opacity: .80;
}

@media only screen and (max-width: 600px){
  .bgbgbg {
    background-image: url('../../assets/usersSM.png') !important;
    background-size: 110%;
  }
  .containthisbox {
    height:20vh;
    width: 30vh;
  }}
  @media only screen and (min-width: 600px) {
  .bgbgbg {
    background-image: url('../../assets/usersmultimore.png') !important;
    background-size: 100%;
  }
  .box {
    height: 10vh;
  }
  .containthisbox {
  height:35vh;
  width: 155vh;
}}
