<div class="container">
  <div class="row">
    <div class="col text-center">
        <div class="jumbotron bgcolor jumbotron-fluid">
          <h1 class="display-5">Contact Web App</h1>
        </div>
      </div>
    </div>
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          Sign Up
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="firstNameInput">First Name</label>
            <input type="text" id="firstNameInputFormControl1" class="form-control">
          </div>
          <div class="form-group">
            <label for="lastNameInput">Last Name</label>
            <input type="text" id="lastNameInputFormControl2" class="form-control">
          </div>
          <div class="form-group">
            <label for="userNameInput">User Name</label>
            <input type="text" id="userNameInputFormControl3" class="form-control">
          </div>
          <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="text" id="emailInputFormControl4" class="form-control">
          </div>
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="text" id="inputPasswordFormControl1" class="form-control">
          </div>
          <div class="form-group">
            <label for="phoneInput">Phone Number</label>
            <input type="text" id="inputPhoneFormControl1" class="form-control">
          </div>
          <div class="form-group">
              <label for="birthdayFormControl">Birthday</label>
              <select name="birthdayMonth" tabindex="6" class="form-control"><option disabled="" hidden="" value="">Month</option><option value="1">January</option><option value="2">February</option><option value="3">March</option><option value="4">April</option><option value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option></select>
              <input type="number" name="birthdayDay" tabindex="7" value="" placeholder="Day" class="form-control">            </div>
        </div>
        <div class="card-footer">
          or Sign In <a routerLink="/userlogin">Here</a>
        </div>
      </div>
    </div>
  </div>
</div>
