<div class="container">
  <div class="row text-center m-1 py-3 secondary-font">
    <div class="col col-4 pr-5">
      <button class="btn btn-link">Cancel</button>
    </div>
    <div class="col col-4 p-0">

    </div>
    <div class="col col-4 px-5">
      <button class="btn btn-link donelink">Done</button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col col-4 secondary-font">
      <img src="../../assets/userprofile.png" width="50%"><br>
      <a href="#">edit photo</a>
    </div>
    <div class="col col-8 primary-font p-bold">
      <div class="row py-2">
        <div class="col text-left">
          <h6>Carlos</h6>
        </div>
        <div class="col">
          <i class="far fa-edit"></i>
        </div>
      </div>
      <div class="row py-2">
        <div class="col text-left">
          <h6>Santana</h6>
        </div>
        <div class="col">
          <i class="far fa-edit"></i>
        </div>
      </div>
      <div class="row py-2">
        <div class="col text-left">
          <h6>Columbia Records</h6>
        </div>
        <div class="col">
          <i class="far fa-edit"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-1 secondary-font">
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="far fa-edit"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="956-555-5555" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
  </div>
  <div class="row m-1 secondary-font">
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="far fa-edit"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Carlos_Santana@gmail.com" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
  </div>
  <div class="row m-1 secondary-font">
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="far fa-edit"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="www.carlossantana.com" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
  </div>
  <div class="row m-1 secondary-font">
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="far fa-edit"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="06-20-1947" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
  </div>
  <div class="row m-1 secondary-font">
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="far fa-edit"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="instagram.com/carlossantana1" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
  </div>
  <div class="row m-1 secondary-font">
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="far fa-edit"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Carlitos" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
  </div>
</div>
