<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="jumbotron jumbotron-fluid">
        <h1 class="display-5">Contact Web App</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col padding-card">
      <div class="card ">
        <div class="card-header text-center">
          Sign In Here
        </div>
        <div class="row padding-card-width">
          <div class="col">
            <div class="card-body p-5">
              <div class="form-container">
                <form name="form" class="loginForm" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="credentials.email" required placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pwd" [(ngModel)]="credentials.pwd" required placeholder="Enter password">
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="check1">
                    <label for="check1" class="form-check-label">Keep me signed in</label>
                  </div>
                  <button class="btn btn-primary login" type="submit" >Sign In</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          Or Sign Up
          <a routerLink="/signup">Here</a>
        </div>
      </div>
    </div>
  </div>
</div>
