@import '../app.component.scss';

h1 {
  font-family: $font-stack-primary;
}
.bg-doodle {
  background-image: url('../../assets/bg-doodle2.png');
}
.card {
  font-family: $font-stack-secondary;
}
.header-signin-card, .footer-signin-card {
  background-color: $color-primary;
}
.card-body-signin {
  background-color: $background-transparent;
}
// mobile-friendly
@media only screen and (max-width: 600px){
  .input-align {
    text-align: center;
  }

}
// fullscreen
@media only screen and (min-width: 600px) {
  .padding-card {
    padding: 0vh 15vh 0vh 15vh;
  }
  .padding-card-width {
    padding: 5vh 10vh 5vh 10vh;
  }
  .box {
    height: 10vh;
  }
}
