<div class="container">
  <div class="row text-center toprow mx-3 mt-5 mb-3">
      <div class="col">
          <img src="../../assets/userprofile.png" width="30%">
      </div>
  </div>
  <div class="row text-center primary-font m-2">
      <div class="col">
          <h3>Carlos Santana</h3>
      </div>
  </div>
  <div class="row secondary-font m-2">
      <div class="col">
              <ul class="list-group">
                      <li class="list-group-item list-group-item-action">Phone: 956-555-5555</li>
                      <li class="list-group-item list-group-item-action">Email: Carlos_Santana@gmail.com</li>
                      <li class="list-group-item list-group-item-action">URL: www.carlossantana.com</li>
                      <li class="list-group-item list-group-item-action">Birthday: 06-20-1947</li>
                      <li class="list-group-item list-group-item-action">Social Profile: instagram.com/carlossantana1</li>
                      <li class="list-group-item list-group-item-action">Related Name: Carlitos</li>
                    </ul>
      </div>
  </div>
</div>
